<footer class="w-full">
  <section class="bg-[#292929] flex place-content-center">
    <div
      class="flex place-content-start place-items-center w-[85vw] py-20 font-serif tracking-wider"
    >
      <div class="w-[40%]">
        <div class="">
          <img src="../../../assets/logo.png" alt="Logo" />
          <h3 class="text-[#C3BEB7] my-6">
            We are a team of designers and developers who creates high quality
            premium Shopify themes.
          </h3>
          <div class="flex gap-2 place-items-center">
            <i class="fas fa-location-dot text-[#C3BEB7] text-xl"></i>
            <h3 class="text-[#C3BEB7]">LPU, Phagwara, Punjab, 144411</h3>
          </div>
          <div class="flex gap-2 place-items-center">
            <i class="fas fa-phone-square text-[#C3BEB7] text-xl"></i>
            <h3 class="text-[#C3BEB7]">(+91) 6204293537</h3>
          </div>
          <div class="flex gap-2 place-items-center">
            <i class="far fa-envelope text-[#C3BEB7] text-xl"></i>
            <h3 class="text-[#C3BEB7]">support&commat;elomus</h3>
          </div>
        </div>
      </div>
      <div class="flex gap-[5vw]">
        <div class="">
          <h2 class="text-[#F8F8EB] text-lg mb-2">MAIN MENU</h2>
          <h3 class="text-[#C3BEB7] mb-1">Home</h3>
          <h3 class="text-[#C3BEB7] mb-1">Catolog</h3>
          <h3 class="text-[#C3BEB7] mb-1">Featured</h3>
          <h3 class="text-[#C3BEB7] mb-1">Pages</h3>
          <h3 class="text-[#C3BEB7] mb-1">Buy Now</h3>
        </div>
        <div class="">
          <h2 class="text-[#F8F8EB] text-lg mb-2">POLICIES</h2>
          <h3 class="text-[#C3BEB7] mb-1">Contact Us</h3>
          <h3 class="text-[#C3BEB7] mb-1">Privacy Policy</h3>
          <h3 class="text-[#C3BEB7] mb-1">Refund Policy</h3>
          <h3 class="text-[#C3BEB7] mb-1">Shipping Policy</h3>
          <h3 class="text-[#C3BEB7] mb-1">Terms of Services</h3>
        </div>
        <div class="">
          <h2 class="text-[#F8F8EB] text-lg mb-2">OPENING HOURS</h2>
          <h3 class="text-[#C3BEB7] mb-1">Mon - Fri: 8AM - 10PM</h3>
          <h3 class="text-[#C3BEB7] mb-1">Sat: 9AM - 8PM</h3>
          <h3 class="text-[#C3BEB7] mb-1">Sun: Closed</h3>
          <h3 class="text-[#C3BEB7] mb-1">National Holidays: Closed</h3>
          <h3 class="text-[#C3BEB7] mb-1">
            Home Delivery Service also available!
          </h3>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-[#242424] flex place-content-center">
    <div class="flex py-2 place-items-center w-[85vw]">
      <h3 class="text-[#F1EEF1] mr-auto">
        Copyright &copy; 2024 MassTechnologist.Com. All Rights Reserved.
      </h3>
      <div class="flex ml-auto gap-2">
        <i
          class="fab fab fa-facebook text-white px-2 py-1 border-[1px] border-white rounded-md text-xl"
        ></i>
        <i
          class="fab fa-instagram text-white px-2 py-1 border-[1px] border-white rounded-md text-xl"
        ></i>
        <i
          class="fab fa-twitter text-white px-2 py-1 border-[1px] border-white rounded-md text-xl"
        ></i>
        <i
          class="fab fa-pinterest text-white px-2 py-1 border-[1px] border-white rounded-md text-xl"
        ></i>
        <i
          class="fab fa-google text-white px-2 py-1 border-[1px] border-white rounded-md text-xl"
        ></i>
      </div>
    </div>
  </section>
</footer>
