<nav class="flex place-content-center font-serif tracking-wider">
  <ul
    class="flex w-[85vw] py-2 gap-[2vw] place-items-center font-sans font-semibold tracking-wider"
  >
    <li class="mr-auto">
      <img src="../../../assets/logo.png" alt="Logo" />
    </li>
    <li
      class="cursor-pointer hover:bg-[#3F3F3F] px-[1vw] py-[0.5vw] hover:border-[#656565] border-[1px] border-transparent rounded-md"
    >
      <a routerLink="home" class="">Home</a>
    </li>
    <li
      class="cursor-pointer hover:bg-[#3F3F3F] px-[1vw] py-[0.5vw] hover:border-[#656565] border-[1px] border-transparent rounded-md"
    >
      <a routerLink="home" class="">Catalog</a>
    </li>
    <li
      class="cursor-pointer hover:bg-[#3F3F3F] px-[1vw] py-[0.5vw] hover:border-[#656565] border-[1px] border-transparent rounded-md"
    >
      <a routerLink="home" class="">Featured</a>
    </li>
    <li class="flex ml-auto gap-[1vw] place-items-center">
      <div class="flex place-items-center">
        <input
          type="text"
          class="bg-[#00ffff3d] border-[1px] border-[#ffffff9c] rounded-md py-1 px-2 outline-none text-md tracking-wider font-thin"
        />
        <a routerLink="home" class="pl-[1vw]"
          ><i class="fas fa-search text-xl"> </i
        ></a>
      </div>

      <a routerLink="home" class=""
        ><i class="fas fa-cart-plus text-xl"> </i
      ></a>
      <a routerLink="home" class=""><i class="fas fa-gear text-xl"> </i></a>
    </li>
    <li class=""></li>
  </ul>
</nav>
