<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="First slide"
    ></li>
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="1"
      aria-label="Second slide"
    ></li>
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="2"
      aria-label="Third slide"
    ></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div
        class="w-[100vw] h-[100vh] bg-cover flex place-content-center place-items-center"
        style="background-image: url('../../../assets/slider-1.jpg')"
      >
        <div class="w-[75vw] flex place-content-start">
          <div class="">
            <h1 class="text-white text-6xl font-semibold font-serif mb-4">
              Raymond Weil
            </h1>
            <h3 class="text-[#C3BEB7] w-[37vw] text-md mb-4">
              Raymond Weil’s Emblematic Collection, Nabucco, Makes A Strong
              Comeback This Year. Starting At $2.199.00 Consequat, Vel Illum
              Dolore Eu Feugiat Nulla Facilisis At Vero Eros.
            </h3>
            <button
              class="bg-[#ffffff] text-slate-900 font-normal hover:text-white hover:bg-slate-950 px-4 p-2 rounded-lg"
            >
              SHOP NOW
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="w-[100vw] h-[100vh] bg-cover flex place-content-center place-items-center"
        style="background-image: url('../../../assets/slider-2.jpg')"
      >
        <div class="w-[75vw] flex place-content-start">
          <div class="">
            <h1 class="text-white text-6xl font-semibold font-serif mb-4">
              Breguet Watches
            </h1>
            <h3 class="text-[#C3BEB7] w-[37vw] text-md mb-4">
              Breguet, “Souscription No. 34/300”. Made In A Limited Edition Of
              300 Sets In The Early 1990’S. Starting At $2.199.00
            </h3>
            <button
              id="btn-shop"
              class="bg-[#ffffff] text-slate-900 font-normal hover:text-white hover:bg-slate-950 px-4 p-2 rounded-lg"
            >
              SHOP NOW
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="w-[100vw] h-[100vh] bg-cover flex place-content-center place-items-center"
        style="background-image: url('../../../assets/slider-3.jpg')"
      >
        <div class="w-[75vw] flex place-content-start">
          <div class="">
            <h1 class="text-white text-6xl font-semibold font-serif mb-4">
              U-Boat Classico
            </h1>
            <h3 class="text-[#C3BEB7] w-[37vw] text-md mb-4">
              U-Boat Watches Are A Lot Like Classic American Muscle Cars -
              Expect For The American Part That Is. Starting At $1.499.00
            </h3>
            <button
              id="btn-shop"
              class="bg-[#ffffff] text-slate-900 font-normal hover:text-white hover:bg-slate-950 px-4 p-2 rounded-lg"
            >
              SHOP NOW
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselId"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselId"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
