<app-slider />
<section class="bg-[#242424] w-full flex place-content-center">
  <div class="w-[85vw] my-24 grid grid-cols-4">
    <div class="">
      <div class="flex place-content-center mb-4">
        <i class="fa-solid fa-plane text-[#A8741A] text-4xl"></i>
      </div>
      <div class="flex place-content-center">
        <h2 class="text-white text-xl font-semibold tracking-wider font-serif">
          Free Delivery
        </h2>
      </div>
    </div>
    <div class="">
      <div class="flex place-content-center mb-4">
        <i class="fa-solid fa-credit-card text-[#A8741A] text-4xl"></i>
      </div>
      <div class="flex place-content-center">
        <h2 class="text-white text-xl font-semibold tracking-wider font-serif">
          Money Guarantee
        </h2>
      </div>
    </div>
    <div class="">
      <div class="flex place-content-center mb-4">
        <i class="fa-solid fas fa-headset text-[#A8741A] text-4xl"></i>
      </div>
      <div class="flex place-content-center">
        <h2 class="text-white text-xl font-semibold tracking-wider font-serif">
          Online Support
        </h2>
      </div>
    </div>
    <div class="">
      <div class="flex place-content-center mb-4">
        <i class="fa-solid far fa-user text-[#A8741A] text-4xl"></i>
      </div>
      <div class="flex place-content-center">
        <h2 class="text-white text-xl font-semibold tracking-wider font-serif">
          Member Discount
        </h2>
      </div>
    </div>
  </div>
</section>
<section class="bg-[#1D1D1D] w-full flex place-content-center">
  <div class="grid grid-cols-2 w-[70vw] gap-[20vw]">
    <div
      class="w-[26vw] h-[39vw] bg-cover"
      style="background-image: url('../../../assets/02.jpg')"
    ></div>
    <div class="flex place-items-center">
      <div class="">
        <div class="flex place-content-center mb-4">
          <h1 class="text-white text-4xl font-semibold tracking-wider">
            <span class="text-[#A8741A]">WATCH</span> TO WEAR
          </h1>
        </div>
        <div class="flex place-content-center">
          <div class="grid w-[8vw]">
            <span
              class="w-[65%] border-[#A8741A] border-t-[1px] mr-auto mb-2"
            ></span>
            <span
              class="w-[65%] border-[#A8741A] border-t-[1px] ml-auto"
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
